<div class="estudiantes">
  <div class="container mt-5">
    <h2>Registro de estudiantes</h2>
    <hr>

    <button type="button" class="btn btn-primary mt-4" (click)="nuevoEstudiante()">Nuevo</button>

    <table class="table mt-4">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Carnet</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">01-2040-8</th>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
      <tr>
        <th scope="row">02-4560-7</th>
        <td>Jacob</td>
        <td>Thornton</td>
      </tr>
      <tr>
        <th scope="row">16-02095-0</th>
        <td>Larry</td>
        <td>the Bird</td>
      </tr>
      </tbody>
    </table>
    <hr>
  </div>

</div>
