<div class="agregar-estudiante">
  <div class="container mt-5">
    <h2>Registro de estudiantes</h2>
    <hr>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="form-group w-50">
          <label for="carnetEstudiante">Carnet</label>
          <input type="text" class="form-control" id="carnetEstudiante" aria-describedby="ayudaCarnet"
                 placeholder="00-00000-0">
          <small id="ayudaCarnet" class="form-text text-muted">Agrega tu carnet de estudiante.</small>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="form-group w-75">
          <label for="emailEstudiante">E-mail</label>
          <input type="email" class="form-control" id="emailEstudiante" aria-describedby="ayudaEmail"
                 placeholder="info@example.com">
          <small id="ayudaEmail" class="form-text text-muted">Ingresa tu correo electrónico.</small>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="form-group w-75">
          <label for="emailEstudiante">Nombre</label>
          <input type="text" class="form-control" id="nombresEstudiantes" aria-describedby="ayudaNombre"
                 placeholder="Example">
          <small id="ayudaNombres" class="form-text text-muted">Ingresa tu nombre.</small>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="form-group w-75">
          <label for="emailEstudiante">Telefono</label>
          <input type="number" class="form-control" id="telefonoEstudiante" aria-describedby="ayudaTelefono"
                 placeholder="85601622">
          <small id="ayudaTelefono" class="form-text text-muted">Ingresa tu numero telefónico.</small>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="form-group w-75">
          <label for="apellidoEstudiantes">Apellidos</label>
          <input type="text" class="form-control" id="apellidoEstudiantes" aria-describedby="ayudaApellido"
                 placeholder="Reyes">
          <small id="ayudaApellidos" class="form-text text-muted">Ingresa tu apellido.</small>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="form-group w-75">
          <label for="direccionEstudiante">Direccion</label>
          <textarea class="form-control" id="direccionEstudiante" rows="3"></textarea>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="form-group w-75">
          <label for="fechaNacimientoEstudiante">Fecha de Nacimiento</label>
          <input type="date" class="form-control" id="fechaNacimientoEstudiante" aria-describedby="ayudaNacimiento"
                 placeholder="10/08/1999">
          <small id="ayudaNacimiento" class="form-text text-muted">Ingresa tu fecha de nacimiento.</small>
        </div>
      </div>
    </div>

    <hr>

    <div class="container text-right">
      <button type="button" class="btn btn-success mr-3">Guardar</button>
      <button type="button" class="btn btn-danger">Cancelar</button>
    </div>
  </div>
</div>
